@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato/lato-light.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  src: local("lato-regular"), url("../fonts/lato/lato-regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: italic;
  font-weight: 400;
  src: local("lato-italic"), url("../fonts/lato/lato-italic.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 700;
  src: local("lato-bold"), url("../fonts/lato/lato-bold.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 900;
  src: local("lato-black"), url("../fonts/lato/lato-black.ttf") format("truetype");
}
body {
  width: 1600px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: lato;
}

.page_header {
  width: 100%;
  padding: 0 14%;
  background-color: #fff;
}
.page_header .header_nav {
  width: 100%;
  background-color: aquamarine;
}
.page_header .header_nav .nav_list {
  padding: 0 14%;
  display: flex;
  justify-content: space-between;
}
.page_header .header_nav .nav_list .list_item {
  list-style-type: none;
}
.page_header .header_nav .nav_list .list_item .item_link {
  text-decoration: none;
  color: #222222;
  font-weight: 700;
}
