@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato/lato-light.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 400;
  src: local("lato-regular"), url("../fonts/lato/lato-regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: italic;
  font-weight: 400;
  src: local("lato-italic"), url("../fonts/lato/lato-italic.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 700;
  src: local("lato-bold"), url("../fonts/lato/lato-bold.ttf") format("truetype");
}
@font-face {
  font-family: "lato";
  font-style: normal;
  font-weight: 900;
  src: local("lato-black"), url("../fonts/lato/lato-black.ttf") format("truetype");
}
body {
  width: 1600px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: "lato";
}

.page_header {
  width: 100%;
  padding: 0 14% 0 14%;
  padding-top: 25px;
  background-color: #fff;
}
.page_header .header_wrp {
  padding: 0 14% 0 14%;
  display: flex;
  justify-content: space-between;
}
.page_header .header_wrp .wrp_logo {
  width: 604px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .header_wrp .wrp_logo .logo_header {
  width: 166px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
}
.page_header .header_wrp .wrp_logo .logo_header .logo_img {
  width: 59px;
}
.page_header .header_wrp .wrp_logo .logo_header .logo_name {
  color: #222222;
  font-family: "lato";
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  margin-left: 13px;
  text-transform: uppercase;
}
.page_header .header_wrp .wrp_logo .logo_header .logo_name .logo_letter {
  color: #f16d7f;
  font-family: "lato";
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.68px;
  text-transform: uppercase;
}
.page_header .header_wrp .header_search {
  width: 402px;
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #cdcdcc;
  overflow: hidden;
}
.page_header .header_wrp .header_search .form_search_btn {
  width: 87px;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 38px;
  border: none;
  box-sizing: border-box;
  text-align: left;
  background-color: #e6e6e6;
  cursor: pointer;
  outline: none;
}
.page_header .header_wrp .header_search .form_search_btn .btn_caret-down {
  fill: #222222;
  width: 9px;
  margin-left: 10px;
}
.page_header .header_wrp .header_search .form_search_btn:hover {
  background-color: #222222;
  color: #e6e6e6;
}
.page_header .header_wrp .header_search .form_search_btn:hover .btn_caret-down {
  fill: #e6e6e6;
}
.page_header .header_wrp .header_search .form_search {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  height: 37px;
  width: 272px;
  border-top: none;
  border-bottom: none;
  outline: none;
}
.page_header .header_wrp .header_search .form_search_img {
  margin-left: 12px;
}
.page_header .header_wrp .wrp_cart {
  width: 188px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .header_wrp .wrp_cart .cart__img {
  fill: #222222;
}
.page_header .header_wrp .wrp_cart .cart__img:hover {
  fill: #f16d7f;
}
.page_header .header_wrp .wrp_cart .cart__img:active {
  fill: #222222;
}
.page_header .header_wrp .wrp_cart .my-acc__link {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  text-decoration: none;
  color: #ffffff;
  font-family: lato;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.page_header .header_wrp .wrp_cart .my-acc__link .caret-down {
  fill: #fff;
  width: 9px;
  height: 6px;
}
.page_header .header_wrp .wrp_cart .my-acc__link:hover {
  color: #222222;
}
.page_header .header_wrp .wrp_cart .my-acc__link:hover .caret-down {
  fill: #222222;
}
.page_header .header_nav {
  width: 100%;
}
.page_header .header_nav .nav_list {
  padding: 0 28% 0 28%;
  display: flex;
  justify-content: space-between;
}
.page_header .header_nav .nav_list .list_item {
  text-transform: uppercase;
  list-style-type: none;
}
.page_header .header_nav .nav_list .list_item .item_link {
  font-family: "lato";
  text-decoration: none;
  color: #222222;
  font-weight: 700;
}
.page_header .header_slider {
  background-image: url("../img/topHeaderBack.png");
  width: 100%;
  background-color: #e8e8e8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 614px;
  background-size: contain;
  background-position-x: right;
  background-size: 555px;
  background-repeat: no-repeat;
  background-position-x: 774px;
  position: relative;
}
.page_header .header_slider .border_slider {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
  position: absolute;
  top: 264px;
  left: 200px;
}
.page_header .header_slider .header_h1 {
  font-family: lato;
  font-size: 60px;
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #222222;
  padding: 0 0 0 14%;
}
.page_header .header_slider .header_h2 {
  font-size: 40px;
  padding: 0 0 0 14%;
  margin: 0;
  line-height: 42px;
}
.page_header .header_slider .header_h2 .h2-fashion_style {
  color: #f16d7f;
}

.page_main {
  /* Section Offer */
}
.page_main .category {
  width: 100%;
  padding: 0 14% 0 14%;
  display: flex;
  justify-content: center;
}
.page_main .category .banner-wrp {
  width: 560px;
  height: 823px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 98px;
  margin-right: 20px;
  position: relative;
}
.page_main .category .banner-wrp .banner_offer .offer1_position {
  width: 175px;
  height: 82px;
  top: 26px;
}
.page_main .category .banner-wrp .banner_offer .offer2_position {
  width: 225px;
  height: 82px;
  top: 587px;
}
.page_main .category .banner-wrp .banner_offer .offer3_position {
  width: 162px;
  height: 82px;
  top: 26px;
}
.page_main .category .banner-wrp .banner_offer .offer4_position {
  width: 180px;
  height: 82px;
  top: 304px;
}
.page_main .category .banner-wrp .banner_offer .banner_txt-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}
.page_main .category .banner-wrp .banner_offer .banner_txt-wrp .bnr_txt-top {
  font-family: lato;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #222222;
}
.page_main .category .banner-wrp .banner_offer .banner_txt-wrp .bnr_txt-btn {
  font-size: 30px;
  color: #f16d7f;
  text-transform: uppercase;
}
.page_main .featured {
  width: 100%;
  padding: 0 14% 0 14%;
}
.page_main .featured .featured_hdr {
  width: 100%;
  text-align: center;
  display: block;
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 54px;
  text-align: center;
  margin-top: 100px;
}
.page_main .featured .featured_txt {
  margin: 0 0 59px 0;
  width: 100%;
  display: block;
  text-align: center;
  color: #9f9f9f;
  font-family: lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
}
.page_main .featured .featured_link-wrp {
  display: flex;
  flex-wrap: wrap;
  width: 72%;
  /* margin: auto; */
  justify-content: space-between;
  margin: 0 auto;
}
.page_main .featured .featured_link-wrp .featured_link {
  text-decoration: none;
  margin-bottom: 39px;
  position: relative;
}
.page_main .featured .featured_link-wrp .featured_link:hover .link_img {
  filter: brightness(50%);
}
.page_main .featured .featured_link-wrp .featured_link:hover .link_content {
  box-shadow: 0 5px 8px 0px #00000026;
}
.page_main .featured .featured_link-wrp .featured_link:hover .content_caret {
  display: flex;
}
.page_main .featured .featured_link-wrp .featured_link .link_content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 83px;
  padding-left: 15px;
}
.page_main .featured .featured_link-wrp .featured_link .link_content .content-txt {
  color: #222222;
  font-family: lato;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  margin: 20px 0 17px 0;
  text-transform: uppercase;
}
.page_main .featured .featured_link-wrp .featured_link .link_content .content-price {
  color: #f16d7f;
  font-family: lato;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}
.page_main .featured .featured_link-wrp .featured_link .content_caret {
  display: none;
  width: 123px;
  height: 39px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  font-style: normal;
  position: absolute;
  top: 98px;
  left: 70px;
  background: transparent;
  justify-content: space-around;
  align-content: center;
  padding: 0;
  flex-wrap: wrap;
  outline: none;
}
.page_main .featured .featured_link-wrp .featured_link .content_caret .caret_style {
  fill: #ffffff;
}
.page_main .featured .featured_btm {
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  text-decoration: none;
  color: #ffffff;
  font-family: lato;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0;
  display: flex;
}
.page_main .featured .featured_btm .featured_btm_txt {
  padding: 0 9px 0 0;
}
.page_main .featured .featured_btm .featured_btm-arrow {
  fill: #ffffff;
}
.page_main .featured .featured_btm:hover .featured_btm-arrow {
  fill: #222222;
}
.page_main .featured .featured_btm:hover {
  color: #222222;
}
.page_main .offer {
  width: 72%;
  min-height: 529px;
  margin-top: 113px;
  margin-left: 28%;
  background-color: #222224;
  background-image: url(../img/offer/offer_img.png);
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.page_main .offer .free-sales-quality {
  display: flex;
  flex-wrap: wrap;
  height: 95px;
  width: 219px;
  margin-right: 43px;
}
.page_main .offer .free-header {
  font-family: lato;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #fbfbfb;
}
.page_main .offer .offer_txt {
  color: #fbfbfb;
  font-family: lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
}
