@import "variables";

.main-boot {
    margin-top: 60px;

    .row {

        .col-md-3 {

            .accordion {
                overflow-anchor: none;

                .card {
                    overflow: hidden;
                }

                .navUnit {
                    border: none;
                    border-radius: 0;

                    &:not(:last-child) {
                        margin-bottom: 18px;
                    }

                    nav a {
                        display: block;
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 33px;
                    }


                    .navTitle {
                        background: none;
                        // border-left: 5px solid #ef5b70;
                        border-radius: 0 !important;
                        padding: 14px 16px;
                        cursor: pointer;
                        border-bottom: 1px solid #ebebeb;
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        display: flex;
                        justify-content: space-between;
                        position: relative;

                        &:before {
                            position: absolute;
                            left: 0;
                            top: 0;
                            content: "";
                            width: 5px;
                            height: 49px;
                            background-color: #ef5b70;
                        }

                        i {
                            position: relative;
                            top: 4px;
                        }
                    }
                }

                .fas {}

                .fa-caret-down {
                    content: "\f0d7";
                }

                .collapse {}

                .show {}

                .card-body {
                    box-sizing: border-box;
                }


            }
        }

        .col-md-9 {
            .productAdjustment {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                .productMain {
                    width: 200px;

                    .adjustmentTitle {
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        margin-bottom: 25px;
                    }

                    .adjustmentLinks {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                        color: #dfdfdf;
                        margin-left: -7px;

                        &__link {
                            color: #6f6e6e;
                            padding-left: 7px;

                            &::after {
                                content: '|';
                                margin-left: 7px;
                            }
                        }
                    }
                }

                .productSize {
                    width: 280px;

                    .adjustmentTitle {
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        margin-bottom: 25px;
                    }

                    .adjustmentSizeInputs {
                        display: flex;
                        flex-wrap: wrap;
                        margin-left: -17px;

                        &__wrp {
                            width: 70px;
                            padding-left: 17px;
                        }

                        &__input {
                            position: relative;

                            & [type="checkbox"]::after {
                                content: '';
                                width: 13px;
                                height: 13px;
                                display: block;
                                position: absolute;
                                left: 0;
                                top: 0;
                                z-index: 1;
                                background: white;
                                border: 1px solid #ebebeb;
                            }
                        }

                        &__label {
                            display: inline-block;
                            margin-bottom: .5rem;
                            font-family: lato;
                            font-size: 14px;
                            line-height: 20px;
                            font-weight: 400;
                            text-transform: uppercase;
                            color: #6f6e6e;
                        }
                    }
                }

                .productPrice {
                    .adjustmentTitle {
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 20px;
                        text-transform: uppercase;
                        margin-bottom: 25px;
                    }

                    .priceRange {
                        width: 262px;
                        height: 14px;
                        background: url(../img/priceRange.svg) no-repeat;
                    }

                    .priceValues {
                        display: flex;
                        justify-content: space-between;
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 26px;
                        margin-top: 17px;

                        &__span {}
                    }
                }
            }

            .productsSorting {
                min-height: 50px;
                background-color: #f3f3f3;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
                margin-top: 41px;

                .sortingUnit:first-child {
                    margin-right: 10px;
                }

                .sortingUnit {
                    display: flex;

                    .sortingTitle {
                        border-right: none;
                        border: 1px solid #ebebeb;
                        background: white;
                        padding: 8px;
                        box-sizing: border-box;
                        height: 30px;
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 11px;
                    }

                    .sortingSelect {
                        border: 1px solid #ebebeb;
                        background: white;
                        padding: 8px;
                        box-sizing: border-box;
                        height: 30px;
                        color: #6f6e6e;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 11px;

                        .fas {
                            font-weight: 900;
                        }

                        .fa-caret-down {}
                    }
                }
            }

            /* Featured */
            .featured_link-wrp {
                margin-top: 50px;
                display: flex;
                flex-wrap: wrap;
                //width: 72%;
                /* margin: auto; */
                justify-content: space-between;
                // margin: 0 auto;

                .featured_link {
                    text-decoration: $link-decor;
                    margin-bottom: 39px;
                    position: relative;

                    &:hover .link_img {
                        filter: brightness(50%);
                    }

                    &:hover .link_content {
                        box-shadow: 0 5px 8px 0px #00000026;
                    }

                    &:hover .content_caret {
                        display: flex;
                    }

                    .link_img {
                        display: block;
                    }

                    .link_content {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        height: 83px;
                        padding: 0 15px;

                        .content-txt {
                            color: #222222;
                            font-family: lato;
                            font-size: 13px;
                            font-weight: 400;
                            font-style: normal;
                            letter-spacing: normal;
                            line-height: normal;
                            margin: 20px 0 17px 0;
                            text-transform: uppercase;
                        }

                        .content-price {
                            color: #f16d7f;
                            font-family: lato;
                            font-size: 16px;
                            font-weight: 700;
                            font-style: normal;
                            letter-spacing: normal;
                            line-height: normal;
                            text-transform: uppercase;
                        }
                    }

                    .content_caret {
                        display: none;
                        width: 123px;
                        height: 39px;
                        border: 1px solid #ffffff;
                        color: #ffffff;
                        font-family: lato;
                        font-size: 13px;
                        font-weight: 700;
                        font-style: normal;
                        position: absolute;
                        top: 98px;
                        left: 70px;
                        background: transparent;
                        justify-content: space-around;
                        align-content: center;
                        padding: 0;
                        flex-wrap: wrap;
                        outline: none;

                        .caret_style {
                            fill: #ffffff;
                        }
                    }
                }
            }

            .paginationWrap {
                display: flex;
                justify-content: space-between;

                .pagination {
                    padding: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 260px;
                    border-radius: 3px;
                    border: 1px solid #ebebeb;
                    color: #c4c4c4;

                    .fas {}

                    .fa-chevron-left {
                        color: #c4c4c4;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 26px;
                        text-decoration: none;
                    }

                    .pagination__link {
                        color: #c4c4c4;
                        font-size: 16px;
                        font-weight: 700;
                        line-height: 26px;
                        text-decoration: none;
                    }

                    .pagination__span {}

                    .fa-chevron-right {}
                }

                .pagination__button {
                    width: 150px;
                    min-height: 44px;
                    border-radius: 3px;
                    border: 1px solid #ef5b70;
                    background: none;
                    color: #ef5b70;
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 26px;
                }
            }

        }
    }
}

.benefits {
    min-height: 341px;
    background-color: #222224;
    padding: 100px 15px;
    margin-top: 110px;
    color: white;
    padding: 100px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .benefitUnit {
            text-align: center;

            &__h3 {
                text-align: center;
            }

            .benefitText {
                font-family: lato, sans-serif;
                font-size: 14px;
                line-height: 23px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #fbfbfb;
                width: 310px;
            }
        }
    }
}

.feedback-boot {
    margin: 0;
}