@import "variables";

.main_single-page {
    margin: 0 auto;

    // width: 72%;
    .main_slider {
        width: $width-page;
        background: url(../img/single_bckg.png) no-repeat center 0px;
        height: 777px;
        background-color: #f7f7f7;
        border: 1px solid #eaeaea;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow {
            width: 47px;
            height: 47px;
            background-color: #2a2a2a24;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-left_img {
                height: 19px;
                fill: #fff;
            }

            .arrow-right_img {
                height: 19px;
                fill: #fff;
            }

            &:hover {
                // background-color:darken($color: #2a2a2a, $amount: 0);
                background-color: lighten($color: #2a2a2a, $amount: 50);

            }

            &:hover .arrow-left_img {
                fill: #2a2a2a;
            }

            &:hover .arrow-right_img {
                fill: #2a2a2a;
            }
        }

        .arrow {
            width: 47px;
            height: 47px;
            background-color: #2a2a2a24;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-right_img {
                height: 19px;
                fill: #fff;
            }
        }
    }

    /* Women Collection */
    .women-collection-wrp {
        min-height: 730px;
        background-color: #ffffff;
        background-color: bisque;
        border: 1px solid #eaeaea;
        margin: -86px auto;
        z-index: 1;
        display: flex;
        justify-content: center;

        .collection-details-wrp {
            width: 642px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 73px;

            .women-collection_header {
                font-family: lato;
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
                color: $btn-color;
                line-height: 1.71;
                // text-align: center;
                position: relative;
                padding-bottom: 15px;
                border-bottom: 1px solid #eaeaea;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    width: 64px;
                    left: calc(50% - 64px / 2);
                    height: 3px;
                    background: #f16d7f;
                }
            }

            .women-collection_header-second {
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                font-weight: 900;
                text-transform: uppercase;
                color: #4d4d4d;
                line-height: 1.33;
                margin-top: 18px;
            }

            .women-collection_txt {
                font-family: lato;
                font-size: 14px;
                // line-height: 24px;
                font-weight: 300;
                color: #5e5e5e;
                display: flex;
                // text-align: center;
                font-size: 14px;
                font-weight: 300;
                line-height: 1.71;
                text-align: justify;
                color: #5e5e5e;
                margin-top: 67px;
            }

            .material-design {
                width: 334px;
                display: flex;
                justify-content: space-between;
                margin: 14px 0 37px;

                .material {
                    font-family: Lato;
                    font-size: 14px;
                    // line-height: 24px;
                    font-weight: 700;
                    color: #b9b9b9;

                    .material_span {
                        color: #2f2f2f;
                    }
                }

                .designer {
                    font-family: Lato;
                    font-size: 14px;
                    //line-height: 24px;
                    font-weight: 700;
                    color: #b9b9b9;

                    .designer_span {
                        color: #2f2f2f;
                    }
                }
            }

            .women-collection-prais_span {
                font-family: lato;
                font-size: 24px;
                line-height: 24px;
                font-weight: 700;
                color: #ef5b70;
            }

            .women-collection-choose {
                width: 537px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .choose_item {

                    .choose-color_label {
                        font-size: 14px;
                        font-weight: 900;
                        line-height: 1.71;
                        color: #2f2f2f;
                        margin-bottom: 16px;
                        display: inline-block;
                    }

                    #choose-color_select {
                        padding-left: 37px;
                    }
                }
            }
        }
    }

}