@import "variables";

.main_single-page {
    margin: 0 auto;

    // width: 72%;
    .main_slider {
        width: $width-page;
        background: url(../img/single_bckg.png) no-repeat center 0px;
        height: 777px;
        background-color: #f7f7f7;
        border: 1px solid #eaeaea;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .arrow {
            width: 47px;
            height: 47px;
            background-color: #2a2a2a24;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-left_img {
                height: 19px;
                fill: #fff;
            }

            .arrow-right_img {
                height: 19px;
                fill: #fff;
            }

            &:hover {
                // background-color:darken($color: #2a2a2a, $amount: 0);
                background-color: lighten($color: #2a2a2a, $amount: 50);

            }

            &:hover .arrow-left_img {
                fill: #2a2a2a;
            }

            &:hover .arrow-right_img {
                fill: #2a2a2a;
            }
        }

        .arrow {
            width: 47px;
            height: 47px;
            background-color: #2a2a2a24;
            display: flex;
            justify-content: center;
            align-items: center;

            .arrow-right_img {
                height: 19px;
                fill: #fff;
            }
        }
    }

    /* Women Collection */
    .women-collection-wrp {
        min-height: 730px;
        background-color: #ffffff;
        // background-color: bisque;
        border: 1px solid #eaeaea;
        margin: -86px auto 0;
        z-index: 1;
        display: flex;
        justify-content: center;

        .collection-details-wrp {
            width: 642px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 73px;

            .women-collection_header {
                font-family: lato;
                font-size: 14px;
                line-height: 24px;
                font-weight: 700;
                color: $btn-color;
                line-height: 1.71;
                // text-align: center;
                position: relative;
                padding-bottom: 15px;
                border-bottom: 1px solid #eaeaea;

                &::after {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    width: 64px;
                    left: calc(50% - 64px / 2);
                    height: 3px;
                    background: #f16d7f;
                }
            }

            .women-collection_header-second {
                font-family: Lato;
                font-size: 18px;
                line-height: 24px;
                font-weight: 900;
                text-transform: uppercase;
                color: #4d4d4d;
                line-height: 1.33;
                margin-top: 18px;
            }

            .women-collection_txt {
                font-family: lato;
                font-size: 14px;
                // line-height: 24px;
                font-weight: 300;
                color: #5e5e5e;
                display: flex;
                // text-align: center;
                line-height: 1.71;
                text-align: justify;
                margin-top: 67px;
            }

            .material-design {
                width: 334px;
                display: flex;
                justify-content: space-between;
                margin: 14px 0 37px;

                .material {
                    font-family: Lato;
                    font-size: 14px;
                    // line-height: 24px;
                    font-weight: 700;
                    color: #b9b9b9;

                    .material_span {
                        color: #2f2f2f;
                    }
                }

                .designer {
                    font-family: Lato;
                    font-size: 14px;
                    //line-height: 24px;
                    font-weight: 700;
                    color: #b9b9b9;

                    .designer_span {
                        color: #2f2f2f;
                    }
                }
            }

            .women-collection-prais_span {
                font-family: lato;
                font-size: 24px;
                line-height: 24px;
                font-weight: 700;
                color: #ef5b70;
                margin-bottom: 107px;
            }

            .women-collection-choose {
                width: 537px;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                .choose_item {
                    display: flex;
                    flex-direction: column;

                    .choose-style_label {
                        font-size: 14px;
                        font-weight: 900;
                        line-height: 1.71;
                        color: #2f2f2f;
                        margin-bottom: 16px;
                        display: inline-block;
                    }

                    .choose_select-style {
                        width: 144px;
                        height: 35px;
                        background-color: #ffffff;
                        border: 1px solid #eaeaea;
                        outline: none;
                    }

                    #choose-color_select {
                        @include choose_select-style-mix;
                        background: url(../img/rectangle_red.png) no-repeat 14px center white;


                        .choose-option_style {
                            font-family: lato;
                            font-size: 13px;
                            line-height: 24px;
                            font-weight: 400;
                            color: #bcbcbc;
                        }
                    }

                    #choose-size_select {
                        @include choose_select-style-mix;
                        padding-left: 15px;
                    }

                    #choose-quantity_select {
                        @include choose_select-style-mix;
                        padding-left: 17px;
                    }
                }

            }

            .women-collection_button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 55px;
                border: solid 1px #ef5b70;
                background-color: #ffffff;
                outline: none;
                font-family: inherit;
                font-size: 16px;
                font-weight: 900;
                color: #ef5b70;
                margin-top: 28px;

                .cart-women__img {
                    fill: #ef5b70;
                    margin-right: 15px;
                }

                &:hover {
                    background-color: #ef5b70;
                    color: #fff;
                    border-color: #bcbcbc;
                }

                &:hover .cart-women__img {
                    fill: #fff;
                }
            }
        }
    }
/* May like */
.featured {
    width: 1140px;
    margin: 0 auto;

    // width: $width-page;
    //margin-left: 14%;
    //padding: $padding-block;
    .container {
        width: 1140px;
        margin: 0 auto;
    }


    .featured_hdr {
        // width: $width-page;
        display: block;
        color: #222222;
        font-family: lato;
        font-size: 30px;
        font-weight: 700;
        font-style: normal;
        letter-spacing: normal;
        line-height: 54px;
        text-align: center;
        margin: 122px 0 72px;
        text-transform: uppercase;
    }

    .featured_txt {
        margin: 0 0 59px 0;
        // width: $width-page;
        display: block;
        text-align: center;
        color: #9f9f9f;
        font-family: lato;
        font-size: 14px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        //line-height: 54px;
    }

    .featured_link-wrp {
        display: flex;
        flex-wrap: wrap;
        //width: 72%;
        /* margin: auto; */
        justify-content: space-between;
        // margin: 0 auto;

        .featured_link {
            text-decoration: $link-decor;
            margin-bottom: 39px;
            position: relative;

            &:hover .link_img {
                filter: brightness(50%);
            }

            &:hover .link_content {
                box-shadow: 0 5px 8px 0px #00000026;
            }

            &:hover .content_caret {
                display: flex;
            }

            .link_img {
                display: block;
            }

            .link_content {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                height: 83px;
                padding-left: 15px;

                .content-txt {
                    color: #222222;
                    font-family: lato;
                    font-size: 13px;
                    font-weight: 400;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    margin: 20px 0 17px 0;
                    text-transform: uppercase;
                }

                .content-price {
                    color: #f16d7f;
                    font-family: lato;
                    font-size: 16px;
                    font-weight: 700;
                    font-style: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    text-transform: uppercase;
                }
            }

            .content_caret {
                display: none;
                width: 123px;
                height: 39px;
                border: 1px solid #ffffff;
                color: #ffffff;
                font-family: lato;
                font-size: 13px;
                font-weight: 700;
                font-style: normal;
                position: absolute;
                top: 98px;
                left: 70px;
                background: transparent;
                justify-content: space-around;
                align-content: center;
                padding: 0;
                flex-wrap: wrap;
                outline: none;

                .caret_style {
                    fill: #ffffff;
                }
            }
        }
    }

    .featured_btm {
        width: 212px;
        height: 48px;
        background-color: $btn-color;
        text-decoration: $link-decor;
        color: #ffffff;
        font-family: lato;
        font-size: 16px;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 40px auto 0;
        display: flex;

        .featured_btm_txt {
            padding: 0 9px 0 0;
        }

        .featured_btm-arrow {
            fill: #ffffff;
        }

        &:hover .featured_btm-arrow {
            fill: #222222;
        }

        &:hover {
            color: #222222;
        }
    }

}
}