body{
    width: 1600px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
   // width: $width;
    font-family: lato;
    
    
}
.page_header{
    width: $width;
    padding: $padding;
}