@import "variables";

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $body-color;
    font-family: "lato", "sans-serif";

}

.container {
    width: 1140px;
    margin: 0 auto;
}

.page_header {
    width: $width-page;
    padding-top: 25px;
    background-color: $body-color;
    border-bottom: 1px solid #ececec;

    //margin-left: 14%;


    .header_wrp {
        // padding: $padding-block;
        display: flex;
        justify-content: space-between;
        min-height: 100px;
        // border-bottom: 1px solid #ececec;
        box-sizing: border-box;

        /* border: 1px solid #ececec; */
        /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);*/
        .container {
            width: 1140px;
            margin: 0 auto;
        }


        .wrp_logo {
            width: 604px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo_header {
                width: 166px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                text-transform: uppercase;
                text-decoration: $link-decor;

                .logo_img {
                    width: 59px;
                }

                .logo_name {
                    color: #222222;
                    font-family: "lato";
                    font-size: 27px;
                    font-weight: 300;
                    font-style: normal;
                    margin-left: 13px;
                    //letter-spacing: normal;
                    // line-height: 32px;
                    //text-align: center;
                    text-transform: uppercase;

                    .logo_letter {
                        color: $btn-color;
                        font-family: "lato";
                        font-weight: 700;
                        font-style: normal;
                        letter-spacing: 0.68px;
                        // line-height: normal;
                        text-transform: uppercase;
                    }
                }

            }
        }

        .header_search {
            width: 402px;
            box-sizing: border-box;
            border: 1px solid #e6e6e6;
            // border-radius: 0 3px 3px 0;
            border-radius: 3px;
            //background-color: #cdcdcc;
            overflow: hidden;

            .form_search_btn {
                width: 87px;
                color: #222222;
                font-family: lato;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: normal;
                line-height: 38px;
                border: none;
                box-sizing: border-box;
                text-align: left;
                background-color: #e6e6e6;
                cursor: pointer;
                outline: none;

                .btn_caret-down {
                    fill: #222222;
                    width: 9px;
                    margin-left: 10px;

                }

                &:hover {
                    background-color: #222222;
                    color: #e6e6e6;
                }

                &:hover .btn_caret-down {
                    fill: #e6e6e6;
                }

            }

            .form_search {
                border-left: 1px solid #e6e6e6;
                border-right: 1px solid #e6e6e6;
                height: 37px;
                width: 272px;
                border-top: none;
                border-bottom: none;
                outline: none;
            }

            .form_search_img {
                margin-left: 12px;
            }
        }

        .wrp_cart {
            width: 188px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cart__img {
                fill: #222222;

                &:hover {
                    fill: #f16d7f;
                }

                &:active {
                    fill: #222222;
                }
            }



            .my-acc__link {
                width: 130px;
                height: 38px;
                background-color: $btn-color;
                text-decoration: $link-decor;
                color: #ffffff;
                font-family: lato;
                font-size: 15px;
                font-weight: 400;
                font-style: normal;
                line-height: 32px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .caret-down {
                    fill: #fff;
                    width: 9px;
                    height: 6px;


                }

                &:hover {
                    color: #222222;
                    //background-color: transparentize(0.25);
                }

                &:hover .caret-down {
                    fill: #222222;
                }
            }
        }
    }

    /* Nav */
    .header_nav {
        // width: $width-page;
        min-height: 51px;
        justify-content: center;
        display: flex;
        //background-color: aquamarine;

        .nav_list {
            width: 681px;
            // background-color: bisque;
            padding: 0;
            margin: 0;
            justify-content: center;
            display: flex;
            //justify-content: space-between;

            .list_item {

                text-transform: uppercase;
                // background-color: bisque;
                list-style-type: $list-style;
                height: 51px;
                box-sizing: border-box;

                .item_link {
                    font-family: "lato";
                    text-decoration: $link-decor;
                    color: $color;
                    font-weight: 700;
                    line-height: 51px;
                }
            }
        }
    }

    .header_slider {
        // background-image: url("../img/topHeaderBack.png");
        width: $width-page;
        background-color: #e8e8e8;
        min-height: 614px;
        // background-size: contain;
        // background-position-x: right;
        //  background-size: 555px;
        //  background-repeat: no-repeat;


        .slider-slogan {
            min-height: 614px;
            position: relative;
            background: url("../img/topHeaderBack.png") no-repeat right 40px top;
            background-size: contain;
            // background-position-x: right;
            background-size: 555px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .border_slider {
                width: 12px;
                height: 92px;
                background-color: #f16d7f;
                position: absolute;
                top: 264px;
                left: 136px;
            }

            .header_h1 {
                font-family: lato;
                font-size: 60px;
                line-height: 1.1;
                font-weight: 900;
                letter-spacing: 0.025em;
                color: #222222;
                padding: 0 0 0 14%;
            }

            .header_h2 {
                font-size: 40px;
                padding: 0 0 0 14%;
                margin: 0;
                line-height: 42px;

                .h2-fashion_style {
                    //font-size: 40px;
                    color: #f16d7f;
                }
            }
        }
    }
}