@import "variables";

.page_main {
    margin: 0 auto;
    width: 100%;

    .category {
        width: $width-page;
        // padding: $padding-block;
        display: flex;
        justify-content: center;
        // margin-left: 14%;

        .banner-wrp {
            width: 560px;
            height: 823px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 98px 20px 0 0;
            position: relative;

            .banner_offer {
                .offer1_position {
                    width: 175px;
                    height: 82px;
                    top: 26px;
                }

                .offer2_position {
                    width: 225px;
                    height: 82px;
                    top: 587px;
                }

                .offer3_position {
                    width: 162px;
                    height: 82px;
                    top: 26px;
                }

                .offer4_position {
                    width: 180px;
                    height: 82px;
                    top: 304px
                }

                .banner_txt-wrp {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: #ffffff;
                    position: absolute;
                    left: 0;
                    padding-left: 10px;

                    .bnr_txt-top {
                        font-family: lato, sans-serif;
                        font-size: 18px;
                        line-height: 1.2;
                        font-weight: 900;
                        text-transform: uppercase;
                        letter-spacing: 0.025em;
                        color: #222222;
                        margin-left: 10px;
                    }

                    .bnr_txt-btn {
                        font-size: 30px;
                        color: #f16d7f;
                        text-transform: uppercase;
                        margin-left: 10px;
                    }
                }

                .category_offer {
                    display: block;
                }
            }
        }
    }

    /* Section featured */
    .featured {
        width: 1140px;
        margin: 0 auto;

        // width: $width-page;
        //margin-left: 14%;
        //padding: $padding-block;
        .container {
            width: 1140px;
            margin: 0 auto;
        }


        .featured_hdr {
            // width: $width-page;
            display: block;
            color: #222222;
            font-family: lato, sans-serif;
            font-size: 30px;
            font-weight: 700;
            font-style: normal;
            letter-spacing: normal;
            line-height: 54px;
            text-align: center;
            margin-top: 100px;
        }

        .featured_txt {
            margin: 0 0 59px 0;
            // width: $width-page;
            display: block;
            text-align: center;
            color: #9f9f9f;
            font-family: lato, sans-serif;
            font-size: 14px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            //line-height: 54px;
        }

        .featured_link-wrp {
            display: flex;
            flex-wrap: wrap;
            //width: 72%;
            /* margin: auto; */
            justify-content: space-between;
            // margin: 0 auto;

            .featured_link {
                text-decoration: $link-decor;
                margin-bottom: 39px;
                position: relative;


                &:hover .link_img {
                    filter: brightness(50%);
                }

                &:hover .link_content {
                    box-shadow: 0 5px 8px 0 #00000026;
                }

                &:hover .content_caret {
                    display: flex;
                }

                .link_img {
                    display: block;
                    transition: filter 1s, color 0.5s;
                }

                .link_content {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    height: 83px;
                    padding: 0 15px 0 15px;
                    transition: box-shadow 1s, color 0.5s;

                    .content-txt {
                        color: #222222;
                        font-family: lato, sans-serif;
                        font-size: 13px;
                        font-weight: 400;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: normal;
                        margin: 20px 0 17px 0;
                        text-transform: uppercase;
                    }

                    .content-price {
                        color: #f16d7f;
                        font-family: lato, sans-serif;
                        font-size: 16px;
                        font-weight: 700;
                        font-style: normal;
                        letter-spacing: normal;
                        line-height: normal;
                        text-transform: uppercase;
                    }
                }

                .content_caret {
                    display: none;
                    width: 123px;
                    height: 39px;
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    font-family: lato, sans-serif;
                    font-size: 13px;
                    font-weight: 700;
                    font-style: normal;
                    position: absolute;
                    top: 98px;
                    left: 70px;
                    background: transparent;
                    justify-content: space-around;
                    align-content: center;
                    padding: 0;
                    flex-wrap: wrap;
                    outline: none;

                    .caret_style {
                        fill: #ffffff;
                    }
                }
            }
        }

        .featured_btm {
            width: 212px;
            height: 48px;
            background-color: $btn-color;
            text-decoration: $link-decor;
            color: #ffffff;
            font-family: lato, sans-serif;
            font-size: 16px;
            font-weight: 700;
            font-style: normal;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 40px auto 0;
            display: flex;

            .featured_btm_txt {
                padding: 0 9px 0 0;
                margin-bottom: 0;
            }

            .featured_btm-arrow {
                fill: #ffffff;
            }

            &:hover .featured_btm-arrow {
                fill: #222222;
            }

            &:hover {
                color: #222222;
            }
        }

    }

    //featured

    /* Section Offer */
    .offer {
        //width: 72%;
        min-height: 529px;
        margin: 113px auto 0;
        background-color: #222224;
        //padding: $padding-max;
        background-image: url(../img/offer/2-layers-bcg.png);
        background-position: left;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        position: relative;

        .offer-sale-wrp {
            color: #ffffff;
            position: absolute;
            top: 146px;
            left: 39px;
            height: 78px;
            text-transform: uppercase;
            margin: 0;

            .txt-top {
                color: #ffffff;
                font-family: lato, sans-serif;
                font-size: 54px;
                font-weight: 700;
                font-style: normal;
                text-transform: uppercase;
                margin: 0;
            }

            .offer-style {
                color: $btn-color;
                font-style: normal;
                letter-spacing: 1.5px;
            }

            .txt-btm {
                font-size: 32.2px;
                font-style: normal;
                letter-spacing: 0.9px;
                line-height: normal;
                margin: 0;
            }
        }

        .free-sales-quality {
            display: flex;
            flex-wrap: wrap;
            height: 95px;
            width: 219px;
            margin: 0 43px 0 0;
            position: relative;

            .offer_icon {
                position: absolute;
                left: -77px;
                top: 0;
            }



            .free-header {
                font-family: lato, sans-serif;
                font-size: 20px;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }

            .offer_txt {
                color: #fbfbfb;
                font-family: lato, sans-serif;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                //letter-spacing: normal;
                line-height: 24px;
                letter-spacing: 0.025em;
            }
        }

    }
}