@import "variables";
@import "mixins";

body {
   // width: 1600px;
    // margin: $margin;
    padding: 0;
    background-color: $body-color;
    font-family: "lato", sans-serif;

}

.page_header {
    width: 100%;
    // padding: $padding-block;
    padding-top: 25px;
    background-color: $body-color;
    border-bottom: 1px solid #ececec;

    .header_wrp {
       // padding: $padding-block;
        display: flex;
        justify-content: space-between;
        min-height: 100px;
       // border-bottom: 1px solid #ececec;
        box-sizing: border-box;
        /* border: 1px solid #ececec; */
        /* box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.17);*/
        
        .wrp_logo {
            width: 604px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo_header {
                width: 166px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                text-transform: uppercase;
                text-decoration: $link-decor;

                .logo_img {
                    width: 59px;
                }

                .logo_name {
                    color: #222222;
                    font-family: "lato";
                    font-size: 27px;
                    font-weight: 300;
                    font-style: normal;
                    margin-left: 13px;
                    //letter-spacing: normal;
                    // line-height: 32px;
                    //text-align: center;
                    text-transform: uppercase;

                    .logo_letter {
                        color: $btn-color;
                        font-family: "lato";
                        font-weight: 700;
                        font-style: normal;
                        letter-spacing: 0.68px;
                        // line-height: normal;
                        text-transform: uppercase;
                    }
                }

            }
        }

        .header_search {
            width: 402px;
            box-sizing: border-box;
            border: 1px solid #e6e6e6;
            // border-radius: 0 3px 3px 0;
            border-radius: 3px;
            // background-color: #cdcdcc;
            overflow: hidden;

            .form_search_btn {
                width: 87px;
                color: #222222;
                font-family: Lato;
                font-size: 14px;
                font-weight: 300;
                font-style: normal;
                letter-spacing: normal;
                line-height: 38px;
                border: none;
                box-sizing: border-box;
                text-align: left;
                // background-color: #e6e6e6;
                cursor: pointer;
                outline: none;

                .btn_caret-down {
                    fill: #222222;
                    width: 9px;
                    margin-left: 10px;

                }

                &:hover {
                    background-color: #222222;
                    color: #e6e6e6;
                }

                &:hover .btn_caret-down {
                    fill: #e6e6e6;
                }

            }

            .form_search {
                border-left: 1px solid #e6e6e6;
                border-right: 1px solid #e6e6e6;
                height: 37px;
                width: 272px;
                border-top: none;
                border-bottom: none;
                outline: none;
            }

            .form_search_img {
                margin-left: 12px;
            }
        }

        .wrp_cart {
            width: 188px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .cart__img {
                fill: #222222;

                &:hover {
                    fill: #f16d7f;
                }

                &:active {
                    fill: #222222;
                }
            }



            .my-acc__link {
                width: 130px;
                height: 38px;
                background-color: $btn-color;
                text-decoration: $link-decor;
                color: #ffffff;
                font-family: lato;
                font-size: 15px;
                font-weight: 400;
                font-style: normal;
                line-height: 32px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .caret-down {
                    fill: #fff;
                    width: 9px;
                    height: 6px;


                }

                &:hover {
                    color: #222222;
                    //background-color: transparentize(0.25);
                }

                &:hover .caret-down {
                    fill: #222222;
                }
            }
        }
    }

    .header_nav {
        width: $width-page;
        min-height: 51px;
        //background-color: aquamarine;


        .nav_list {
            padding: $padding-max;
            // background-color: bisque;
            display: flex;
            justify-content: space-between;

            .list_item {
                text-transform: uppercase;
                // background-color: bisque;
                list-style-type: $list-style;
                min-width: 75px;
                text-align: center;

                &:hover::after {
                    content: "";
                    width: 75px;
                    height: 3px;
                    background-color: $btn-color;
                    display: block;
                    margin-top: 28px;
                    //text-align: center;
                }


                .item_link {
                    font-family: "lato";
                    text-decoration: $link-decor;
                    color: $color;
                    font-weight: 700;

                }
            }
        }

        &:hover .rectangle-btm {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .breadcrumb {
        width: 72%;
        padding: $padding-block;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        min-height: 148px;
        background-color: #f8f3f4;

        .bread_head {
            font-family: lato;
            font-size: 24px;
            line-height: 20px;
            font-weight: 900;
            text-transform: uppercase;
            color: $btn-color;
        }

        .bread_menu {

            .bread_menu-list {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                width: 196px;

                .bread-list_item {
                    list-style-type: $link-decor;

                    .bread_item_link {
                        font-family: lato;
                        font-size: 14px;
                        line-height: 20px;
                        font-weight: 300;
                        text-transform: uppercase;
                        color: #636363;
                        text-decoration: $link-decor;

                        &:hover {
                            color: $btn-color;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

/* Main shoping cart */
.main-shoping_cart {
    //width: $width-page;
    margin: $margin;
    width: 72%;

    .shp-cart-head-wrp {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 90px 0 0 19%;
        padding-bottom: 20px;
        box-sizing: border-box;
        border-bottom: 1px solid #eaeaea;

       // .head-left-wrp {}

        .head-shop-style {
            font-family: lato;
            font-size: 13px;
            line-height: 20px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: -0.015em;
            color: $color;
        }

        .head-right-wrp {
            width: 625px;
            display: flex;
            justify-content: space-between;
        }
    }

    /* Section product details */
    .ware-top {
        margin: 22px 0 0 19%;
        background-image: url(../img/shoping-cart/product_top.png);
        background-position: left;
        background-repeat: no-repeat;
        //border-bottom: 1px solid black;
    }

    .ware-middle {
        background-image: url(../img/shoping-cart/product_middle.png);
        background-position: left;
        background-repeat: no-repeat;
    }

    .ware-btm {
        background-image: url(../img/shoping-cart/product_btm.png);
        background-position: left;
        background-repeat: no-repeat;
    }

    .prdct-item {
        //background-color: aqua;
        //width: 281px;
        margin-left: 19%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .head-right-wrp {
            width: 625px;
            display: flex;
            justify-content: space-between;

            .productPrice {
                @include product_item_character;
                width: 78px;
            }

            .productQty {
                @include product_item_character;
                width: 68px;

                .input_qty {
                    width: 54px;
                    height: 30px;
                    background-color: #ffffff;
                    border: 1px solid #eaeaea;
                    text-align: center;
                }
            }

            .productShipping {
                @include product_item_character;
                width: 62px;
            }

            .productSubtotal {
                @include product_item_character;
                width: 66px;
            }

            .productAction {
                @include product_item_character;
                width: 50px;
            }
        }

        .shape-btm {
            color: #eaeaea;
        }


        .prdct-details {

            min-height: 162px;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        .prdct-name {
            font-family: Lato;
            font-size: 13px;
            //line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: $color;
            margin: 35px 0 0 121px;

        }

        .prdct-size-color {

            margin-left: 121px;

            .color-style {
                font-family: lato;
                font-size: 13px;
                // line-height: 20px;
                font-weight: 400;
                color: #575757;
                //margin-left: 121px;
            }

            .size-style {
                font-family: lato;
                font-size: 13px;
                // line-height: 20px;
                font-weight: 300;
                color: #6f6e6e;
            }
        }
    }

    .ending-shop {
        margin-left: 19%;
        width: 100%;

        .ending-shop_button {
            display: flex;
            justify-content: space-between;
            margin: 44px 0 63px 0;

            .ending_bttn {
                width: 235px;
                height: 50px;
                background-color: #ffffff;
                border: 1px solid #eaeaea;
                font-family: lato;
                font-size: 14px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: #4a4a4a;
            }
        }

        .chekout-wrp {
            display: flex;
            justify-content: space-between;
        }

        .shippingAddress-wrp {
            width: 355px;

            .shippping-adress_form {
                display: flex;
                flex-direction: column;
                width: 100%;

                .shipping-adress_header {
                    font-family: Lato;
                    font-size: 16px;
                    line-height: 1.2;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #222222;
                    margin-bottom: 22px;
                }

                .shipping-adress_select {
                    height: 45px;
                    border: 1px solid #eaeaea;
                    background-color: #ffffff;
                    width: 100%;
                    color: #b1b1b1;
                    font-size: 13px;
                    font-weight: 300;
                    padding: 13px;
                    font-family: inherit;
                    outline: none;
                    box-sizing: border-box;
                    margin-bottom: 20px;

                   // .option_style {}
                }

                .input_style {
                    height: 45px;
                    border: 1px solid #eaeaea;
                    background-color: #ffffff;
                    width: 100%;
                    color: #b1b1b1;
                    font-size: 13px;
                    font-weight: 300;
                    padding: 13px;
                    font-family: inherit;
                    outline: none;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                }

                .shipping-adress_bttn {
                    padding: 10px 13px;
                    border: 1px solid #eaeaea;
                    background: white;
                    font-family: inherit;
                    text-transform: uppercase;
                    color: #4a4a4a;
                    font-weight: 700;
                    font-size: 11px;
                    width: 101px;
                    height: 35px;
                    box-sizing: border-box;
                }
            }
        }

        .couponDiscount-wrp {
            width: 355px;

            .couponDiscount_header {
                font-family: lato;
                font-size: 16px;
                line-height: 1.2;
                font-weight: 700;
                text-transform: uppercase;
                color: $color;

            }

            .coupondiscount_form {
                margin-top: 28px;

                .coupondiscount_label {
                    display: block;
                    color: #000000;
                    font-size: 14px;
                    font-weight: 300;
                    margin-bottom: 24px;
                }

                .coupondiscount_input {
                    height: 45px;
                    border: 1px solid #eaeaea;
                    background-color: #ffffff;
                    width: 100%;
                    color: #b1b1b1;
                    font-size: 13px;
                    font-weight: 300;
                    padding: 13px;
                    font-family: inherit;
                    outline: none;
                    box-sizing: border-box;
                    margin-bottom: 25px;
                }

                .coupindiscount_bttn {
                    padding: 12px 15px;
                    border: 1px solid #eaeaea;
                    background: white;
                    font-family: inherit;
                    text-transform: uppercase;
                    color: #4a4a4a;
                    font-weight: 700;
                    font-size: 11px;
                }
            }
        }

        .grandtotal-wrp {
            width: 360px;
            background-color: #f5f3f3;
            padding: 40px;
            box-sizing: border-box;
            height: 214px;

            .grandTotalSub {
                margin-bottom: 14px;
                color: #4a4a4a;
                font-size: 11px;
                font-weight: 400;
                text-transform: uppercase;
                text-align: right;

                .grandtotal_span {
                    color: #4a4a4a;
                    font-size: 11px;
                    font-weight: 400;
                    text-transform: uppercase;
                    text-align: right;
                }

                .grandtotal_span-left {
                    margin-left: 15px;
                }
            }

            .grandTotalGrand {
                text-align: right;
                color: #222222;
                font-size: 16px;
                font-weight: 700;
                text-transform: uppercase;
                padding-bottom: 22px;
                border-bottom: 1px solid #e2e2e2;
                margin-bottom: 17px;

                .grandtotal_grand {
                    text-align: right;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #f16d7f;
                    margin-right: 20px;
                }

                .grandtotal_grand-price {
                    text-align: right;
                    color: #222222;
                    font-size: 16px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
            }

            .grandtotal_bttn {
                width: 100%;
                background-color: #f16d7f;
                padding: 20px 38px;
                text-align: center;
                color: #fff;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 700;
                border: none;
            }
        }
    }

    .shop-footer {
        margin: 97px 0 0 0;
    }

    .shoping-footer {
        margin-left: 14%;
        width: 100%;
    }
}